<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>254290848350-3fd6k8il7qkavnesm1pf4j30ef7564oe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.254290848350-3fd6k8il7qkavnesm1pf4j30ef7564oe</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>254290848350-fgn7fnqiq42a1mmno3hndunc054r9qc0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDZp8hML0ldEwclJ8C5Hnoi-UxsbjtrXu4</string>
	<key>GCM_SENDER_ID</key>
	<string>254290848350</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>mychat-981ad</string>
	<key>STORAGE_BUCKET</key>
	<string>mychat-981ad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:254290848350:ios:1a148dbb910246fd07e2cf</string>
</dict>
</plist>